<%= link_to "Назад", ir_index_path, class:"btn btn-info btn-large pull-left printed-off", style: "margin-left: 1ex" %>
<% content_for :sub_title do %>
  Результат обработки
<%end%>
<div class='page-content result' >
         <ul class="nav nav-tabs printed-off" id="myTab">
           <li class="active"><a href="#recom"  data-toggle="tab">Рекомендации для отдела</a></li>
           <li><a href="#ovd" data-toggle="tab">Форма для отдела ввода данных</a></li>
         </ul>

         <div class="tab-content">
           <div class="tab-pane active printed" id="recom">
            <div class="btn-group printed-off pull-right" style="margin:10px">
              <%= link_to "Версия для печати", ir_print_path(report:"recom",format:"xls"), :class => "btn" %>
            </div>
             <%=render( partial: 'interrupts_report/report_templs/recom', locals:{report: report}) if report.is_a? LmInterruptsReport %>
           </div>
           <div class="tab-pane printed" id="ovd">
            <div class="btn-group printed-off pull-right" style="margin:10px">
              <%= link_to "Версия для печати", ir_print_path(report:"ovd",format:"xls"), :class => "btn" %>
            </div>
             <%=render( partial: 'interrupts_report/report_templs/ovd', locals:{report: report}) if report.is_a? LmInterruptsReport %>
           </div>
         </div>
</div>
